
*{
    margin: 0%;
    padding: 0%;

}
img{
    
    width: 100vw;
    padding-right: 0%;
    display: flex;
  
    
} 
.test{
    text-align: center;
    font-size: large;
    display: none;
    color: blueviolet;

}

@media only screen and  (max-width: 545px) {
    img{
        padding-bottom: 0%;
        padding-right: 0%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding: 10px;
        

        
        
        
    }
    
.test{
        display: block;
    font-size: medium;
}
    
}
@media only screen and  (max-width: 750px)
{
    .test{
        display: block;
    }

}